doctype html
html
  head
    title Join the #{community} community on Slack!
    style.
      body {
        padding: 50px;
        font-size: 14px;
        font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;
        text-align: center;
        background-color: #f3f3f3;
        color: #3498d5;
      }
      .centered {
        display: flex;
        flex-direction: column;
        max-width: 400px;
        margin: 0px auto;
      }
      #slack-email {
        box-sizing: border-box;
        width: 100%;
        margin-top: 20px;

        font-size: 20px;
        font-family: Montserrat,'Helvetica Neue',Helvetica,Arial,sans-serif;

        padding: 10px;
        border-radius: 4px;
        border: 1px solid #858585;
      }
      input[type=submit] {
        margin-top: 20px;
        padding: 10px;

        width: 100%;

        background-color: #3498d5;
        color: #fff;
        border: 1px solid #858585;
        border-radius: 4px;
        line-height: 46px;
        text-align: center;

        font-size: 18px;
        font-family: Montserrat,'Helvetica Neue',Helvetica,Arial,sans-serif;
        font-weight: bold;

        transition: all 250ms ease-in-out;
        cursor: pointer;
      }
      input[type=submit]:active {
        border: 1px solid #858585;
        background-color: #2b7daf;
      }
      img {
        width: 100%;
        max-width: 327px;
        margin-top: 50px;
        margin-bottom: 50px;
      }
  body
    img(src="https://i.imgur.com/Dz685U1.png")
    h1 Join the #{community} community on Slack!
    div.centered
      form(method="POST", action="/invite")#join-form
        input(type="email", name="email", placeholder="Enter your email")#slack-email
        input(type="submit", value="Join Slack")
    script.
      var form = document.getElementById('join-form');
      var email = document.getElementById('slack-email')
      form.addEventListener('submit', function(evt) {
        if (!email.value) {
          evt.preventDefault();
        }
      });
