doctype html
html
  head
    title Join the #{community} community on Slack!
    style.
      body {
        padding: 50px;
        font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
        text-align: center;
        background-color: #f3f3f3;
        color: #FFF;
      }
      input {
        font-size: 24px;
        width: 400px;
        padding: 5px;
      }
      img {
        width: 100%;
        max-width: 500px;
        margin-top: 50px;
        margin-bottom: 50px;
      }
  body
    h1 Join the #{community} community on Slack!
    img(src="https://i.imgur.com/Dz685U1.png")
    form(method="POST", action="/invite")#join-form
      input(type="text", name="email", placeholder="Enter your email")#slack-email
    script.
      var form = document.getElementById('join-form');
      var email = document.getElementById('slack-email')
      form.addEventListener('submit', function(evt) {
        if (!email.value) {
          evt.preventDefault();
        }
      });
